intro-to-tensorflow/notMNIST.pickle
*.zip
embeddings/checkpoints/text8.ckpt.data-00000-of-00001
sentiment-rnn/checkpoints/sentiment.ckpt.data-00000-of-00001
*.npy
transfer-learning/flower_photos.tar.gz
transfer-learning/flower_photos/